
.user-card{
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: #efefef;
    height: 100px;
    margin: 20px auto;
}

#users-img-div img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    border-radius: 100%;
}
#users-img-div{
    margin-left: 10px;
}
#users-details{
    margin-left: 10px;
    padding:10px;
    width: 250px;
}

#users-details p  {
    margin: 10px;
}
.users-usersname{
    font-weight: 900;
}

.users{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
    overflow: scroll;
    border-radius: 10px;
}

.addusr-link{
    margin: 10px;
    width: 50px;
    height: auto;
    margin-left: 200px;
}